# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.log
